---
import GoogleSignIn from "../components/GoogleSignIn";
import Item from "../components/Item";
import Container from "../components/Container";
import Footer from "../components/Footer";
import Header from "../components/Header";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Auth with Supabase</title>
  </head>
  <body>
    <Header client:load />
    <Container>
      <Item href="https://www.google.com/maps">Light Birthday Gifts</Item>
      <Item isDark href="https://www.google.com/maps">Dark Birthday Gifts</Item>
      <Item isDark href="https://www.google.com/maps">Bonus Gift</Item>
    </Container>
    <Footer />
  </body>
</html>
